body {
  margin-top: 0%;
  margin-left: 0%;
  width: 100%;
  background-color: #242333;
  color: #FFFFFF !important;
}

button {
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;

}

#nav {
  display: flex;
  padding-left: 2%;
}

#navTitle {
  width: fit-content;
  color: #FFFFFF;
}

#navBar {
  list-style: none;
  width: fit-content;
  display: flex;
  margin-top: 1.5%;
}

#link {
  padding: 5px;
  margin-right: 10px;
  border-radius: 10%;
  border-width: 1pt;
  border-color: #FFFFFF;
  border-style: solid;
  align-content: center;
  text-align: center;
  color: #FFFFFF;
}

.active {
  background-color: #01B0D3;
  border-color: #01B0D3 !important;
  color: whitesmoke !important;
}

.Mui-selected {
  border-color: #01B0D3 !important;
  background-color: #01B0D3 !important;
  color: #FFFFFF !important;
}

#adminLogin {
  padding: 11px;
}

#searchByBus {
  margin-top: 20pt;
}

#outlined-basic {
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;
}